@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.eot') format('eot'),
         url('../fonts/vazir.ttf') format('truetype'),
         url('../fonts/vazir.woff') format('woff'),
         url('../fonts/vazir.woff2') format('woff2');
}
*{
    font-family: 'vazir';
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}
body{
    box-sizing: border-box;    
    text-overflow: ellipsis;
    box-sizing: border-box;
}
.container{
    margin: auto;
}


.s1{
    background: url('../images/1.jpg');
    background-size: cover;
}
.s1 ul{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s1 ul li{
    list-style: none;
    margin: 0 30px;
}
.s1 ul li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    z-index: 1000;
}
.s1 h1{
    text-align: left;
    color:transparent;
    font-size: 35px;
    margin-top: 800px;
    width: 90%;
}
.s1 h1 a{
    margin-right: 20px;
    color: #ff5722;
    text-decoration: none;
}
.s1 .fp-controlArrow.fp-prev{
    position: absolute;
    top: 90%;
    left: 50px;
    border-width: 20px 20px 20px 0;
}
.s1 .fp-controlArrow.fp-next{
    position: absolute;
    top: 90%;
    right: 93%;
    border-width: 20px 0 20px 20px;    
}
/* -------------------- */
.s2{
    background: url('../images/2.jpg');
    background-size: cover;
    width: 100%;
    padding: 80px 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #252525;
}
.s2 h2{
    color: #fff;
}
.s2 .slider{
    width: 100%;
    height: 500px;
}
.s2 .slider .projects-box-item{
    width: 350px;
    height: 380px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.7);
}
.s2 .slider .projects-box-item img{
    width: 100%;
    height: 230px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 1px 1px 10px #f0efef;
}
.s2 .slider .projects-box-item h3{
    color:#ffffff;
    text-shadow: 2px 2px 10px ;
    font-size: 28px;
    margin: 10px 2px;
    padding: 0 5px;
}
.s2 .slider .projects-box-item p{
    color: #fff;
    line-height: 25px;
    font-size: 16px;
    padding: 10px 8px;
}
.s2 .slider  #lightSlider{
    padding-bottom: 3% !important;
}

/* ------------------------------------- */

.s3{
    background: url('../images/3.jpg');
    background-size: 100% 100%;
}
/* .fp-overflow{
    display: flex;
    justify-content: center !important;
    align-items: center;
    flex-wrap: wrap;
} */
.s3 .section3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.s3 .section3 h2{
    width: 100%;
    color: #43ff19;
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
    margin-bottom: 50px;
}
.s3 .section3 h2 span{
    color: #c00;
}
.s3 .section3 ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}
.s3 .section3 ul li{
    width: 45%;
    background: rgba(255, 255, 255, 0.644);
    text-align: center;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgb(67, 255, 25);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    cursor: pointer;
}
.s3 .section3 ul li a{
    color:black;
}
.s3 .section3 ul li a h4{
    padding: 10 20px;
    font-size: 20px;
    text-shadow: 1px 1px 10px rgba(204, 0, 0, 0.274);
}
.s3 ul li svg{
    font-size: 150px;
}

/* -------------------------- */

.s4{
    background: url('../images/4.jpg');
    background-size: cover;
}
.s4 .sectionfour{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.s4 .sectionfour h1{
    color: azure;
    font-size: 60px;
    width: 100%;
    padding: 0 50px;
    margin-bottom: 50px;
}
.s4 .sectionfour form{
    width: 25%;
    margin-top: -20px;
}
.s4 .sectionfour form input{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}
.s4 .sectionfour form input[type=submit]{
    margin-top: 20px;
    border: none;
    background: #c00;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.s4 .sectionfour form textarea{
    width: 100%;
    resize: none;
    height: 250px;
    margin-top: 20px;
    padding: 10px;
    color: #fff;
    background: rgba(0,0,0,0.7);
    border: 4px solid #333;
}

.s5{
    background-color: #000;
}
.s5 p{
    color: #fff;
}
.s5 footer .container{
    width: 100%;
    padding: 0 auto;
    display: flex;
    justify-content: center;
}
.s5 footer .footer{
    padding: 10px 50px;
    width: 500px;
    background-color: #000;
}
.s5 footer .footer-about{
    color: #fff;
}
.s5 footer .footer-about h2{
    font-size: 40px;
}
.s5 footer .footer-about p{
    width: 1200px;
    line-height: 50px;
    font-size: 22px;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color:#ff5722 ;
    -moz-text-decoration-color:#ff5722 ;
    -moz-text-decoration-style: dashed;
    text-underline-offset: 10px ;
}

.s5 footer .container .team{
    height: 300px;
    width: 100%;
    margin-top: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;

}
.s5 footer .container .team .footer-top{
    width: 100%;
    text-align: center;
    align-items: center;
    height: 200px;
}
.s5 footer .container .team .footer-top h1{
    color: #fff;
    margin-top: -20px;
}
.s5 footer .container .team .footer-top img{
    width: 90px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.s5 footer .container .team .footer-top h2{
    color: #fff;
    font-size: 10px;
    margin-top: -5px;
    font-weight: normal;
}
.s5 footer .container .team #row1{
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: -60px;
}

.s5 footer .container .team #row1 li{
    width: 30%;
}
.s5 footer .container .team #row1 li a{
    display: flex;
    justify-content: center;
}
.s5 footer .container .team #row1 li a p{
    color: #fff;
    margin-right: 40px;
}
.s5 footer .container .team #row1 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.s5 footer .container .team #row2{
    width: 51%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.s5 footer .container .team #row2 li{
    width: 30%;
}
.s5 footer .container .team #row2 li a{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
}
.s5 footer .container .team #row2 li a svg{
    color:#43ff19;
    margin-right: 40px;
    font-size: 30px;
}

/* re-style fulpage */

#fp-nav ul li a span, .fp-slidesNav ul li a span{
    background: whitesmoke !important;
}
#fp-nav ul li a.active span{
    background: #c00 !important;
}